

/* ---------------------------------common content css----------------------------------- */

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 35rem;
    right: 0;
    width: 70%;
    margin-top: 25rem;
}

.home-contents {
    width: 90%;
}

.content {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
    padding: 1rem;
    border-radius: 1rem;
    height: 100%;
    background-image: url("sky-828648_1920.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.home .content-title {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: -1.5rem;
    width: 30%;
    background-color: royalblue;
    color: white;
    border-radius: 1rem;
    font-size: 2rem;
    box-shadow: 2px 2px 2px black;
}

/* ---------------------------------lotation,sales content css----------------------------------- */

.lotation-list,
.skinsale-list {
    padding: 1.5rem;
    width: 100%;
}

.lotation-list__row,
.skinsale-list__row {
    display: flex;
    justify-content: start;
    width: 100%;
    padding: 1rem;
}

.lotation-list__row li,
.skinsale-list__row li {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 1rem;
}

.lotation-list__row li img,
.skinsale-list__row li img {
    border-radius: 1rem;
    width: 70%;
    height: 70%;
    box-shadow: 1px 1px 1px white;
}

.champ-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.skinsale-list__row li {
    flex-direction: column;
    position: none;
}

.lotation-list span {
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
    top: 70%;
    left: 30%;
}

.skinsale-list span {
    color: white;
}

.champ-price {
    font-size: 1.2rem;
}

/*  확장 li를 제외한 요소 border */
.skinsale-list__row li:not(.for-extension),
.lotation-list__row li:not(.for-extension) {
    border: 1px solid white;
}

/* -----------------------------------notice-board ------------------------------------------ */

.notice-board {
    display: flex;
    border: 1px solid red;
    /* margin-left: -4rem; */
    justify-content: space-between;
    align-items: center;
}

.notice-board .content {
    border: 3px solid green;
}

.notice-board img {
    width: 45rem;
    height: 45rem;
