/* ---------------------------------common content css----------------------------------- */

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30rem;
    right: 0;
    width: 70%;
    margin-top: 15rem;
    /* margin-top: 35rem; */
    /* border: 3px solid black; */
    /* box-shadow: 3px 3px 3px rgb(241, 241, 241); */

    /* padding: 3rem; */
}

.home-contents {
    width: 90%;
}

.content {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
    padding: 1rem;
    border-radius: 1rem;
    height: 100%;
    /* background-image: url("sky-828648_1920.jpg"); */
    /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQUk1XJhAQKtMZkxl9jk5d4aEtW4186w7GTsw&usqp=CAU"); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* background: linear-gradient(50deg, rgb(241, 241, 241), white); */
    background-color: black;
}

.home .content-title {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: -1.5rem;
    width: 30%;
    background-color: royalblue;
    color: white;
    border-radius: 1rem;
    font-size: 2rem;
    box-shadow: 2px 2px 2px black;
}

/* ---------------------------------lotation,sales content css----------------------------------- */

.lotation-list,
.skinsale-list {
    padding: 1.5rem;
    width: 100%;
}

.lotation-list__row,
.skinsale-list__row {
    display: flex;
    justify-content: start;
    width: 100%;
    padding: 1rem;
}

.lotation-list__row li,
.skinsale-list__row li {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-right: 5px;
    border-radius: 1rem;
    overflow: hidden;

    /* padding: 1rem; */
}

.lotation-list__row li img:hover {
    transform: scale(1.1);
}

.lotation-list__row li img,
.skinsale-list__row li img {
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    box-shadow: 1px 1px 1px white;
    transition: 0.2s;
}

.champ-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.skinsale-list__row li {
    flex-direction: column;
    position: none;
}

.lotation-list span {
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
    top: 70%;
    left: 30%;
}

.skinsale-list span {
    color: white;
}

.champ-price {
    font-size: 1.2rem;
}

/*  확장 li를 제외한 요소 border */
.skinsale-list__row li:not(.for-extension),
.lotation-list__row li:not(.for-extension) {
    border: 1px solid white;
}

/* -----------------------------------notice-board ------------------------------------------ */

/* -----------------------------------best-board ------------------------------------------ */
.best-wrapper {
    display: flex;
    /* border: 1px solid black; */
    /* justify-content: space-around; */
    justify-content: center;

    border-radius: 1rem;
    padding: 6rem;
    box-shadow: 10px 10px 10px black;
    background-image: url("2566478.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.best-board {
    display: flex;
    flex-direction: column;
    /* margin-right: 2rem; */
    /* align-items: center; */
    /* border: 1px solid red; */
    width: 100%;
}

/* add */
.best-board:first-child {
    margin-right: 1rem;
}

.best-title {
    text-align: center;
    padding-bottom: 1rem;
}

.best-title h3 {
    font-weight: bold;
}
.board-content {
    display: grid;
    /* add */
    /* border-radius: 1rem; */
    margin-bottom: 0.5rem;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: 0.1rem;
    /* border: 0.2rem outset rgb(189, 189, 189); */
    border: 0.2rem solid rgb(0, 0, 0);
    padding: 1rem;
}
.board-content img {
    max-width: 8rem;
}
.board-content-center {
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.board-content-center h4 {
    margin: 0;
    margin-top: 1rem;
    padding-left: 1rem;
}
.center-bottom {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.center-bottom div {
    padding-left: 0.5rem;
    padding-top: 1rem;
}

.board-more {
    display: flex;
    justify-content: flex-end;
}
.board-more a {
    font-size: 2rem;
    color: goldenrod;
}

/* adver */
.adver-img {
    /* position: absolute;
    top: 6rem;
    left: 39rem; */
    /* margin-top: 10rem; */
    margin-bottom: 5rem;
}

.adver-img img {
    /* width: 900px; */
    /* height: 150px; */
    width: 100%;
    /* height: 150px; */

    border-radius: 3rem;
}
