body {
    height: 120vh;
}

.search-form {
    display: flex;
    padding: 1.5rem 0;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #eeeeee;
    justify-content: center;
    align-items: center;
}
.main-logo {
    font-family: "Lobster", cursive;
    font-size: 4rem;
    margin-right: 1.5rem;
    color: #cfb26a;
    text-shadow: -1px 0 black, 0 1px black, 2px 0 black, 0 -2px black;
}

.search-input {
    width: 20%;
    height: 3rem;
    margin-right: 1rem;
    border-radius: 5px;
    border: none;
    padding: 1rem;
}

.login-btn {
    width: 100%;
}

.nav {
    display: flex;
    position: fixed;
    top: 8rem;
    width: 100%;
    background-color: #2a5e6e;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}

.nav,
.search-form {
    z-index: 1;
}

.nav-list {
    display: flex;
    width: 50%;
    /* height: 100%; */
    margin-bottom: 0px;
}

.nav-btn {
    width: 100%;
}

.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
}

.nav-link:hover {
    color: gray;
    text-decoration: none;
}

.login-form {
    border: 1px solid rgb(241, 241, 241);
    padding: 1rem;
    position: fixed;
    border-radius: 1rem;
    background-color: rgb(241, 241, 241);
    left: 10rem;
    top: 25rem;
    box-shadow: 2px 2px 2px black;
}

.login-option {
    display: flex;
    margin-top: 1.5rem;
    justify-content: space-around;
    align-items: center;
}

footer {
    display: flex;
    margin-top: 3rem;
    padding-top: 1rem;

    background-color: gray;
}

footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer ul li {
    margin-right: 1rem;
}

footer p {
    display: flex;
    width: 50%;
    justify-content: center;
    margin-left: 40rem;
    opacity: 0.5;
}

.dm {
    position: fixed;
    right: 3rem;
    bottom: 3rem;
    /* color: #fae100; */
}
