body {
    height: 120vh;
}

.search-form {
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #30a9de;
    justify-content: center;
    align-items: center;
}

.main-logo {
    margin-right: 1.5rem;
    width: 10rem;
    height: 7rem;
}

.search-input {
    width: 20%;
    height: 3rem;
    margin-right: 1rem;
    border-radius: 5px;
    border: none;
}

.login-btn {
    width: 100%;
}

.nav {
    display: flex;
    position: fixed;
    top: 7rem;
    width: 100%;
    background-color: #2a5e6e;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}

.nav-list {
    display: flex;
    width: 50%;
    /* height: 100%; */
    margin-bottom: 0px;
}

.nav-btn {
    width: 100%;
}

.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
}

.nav-link:hover {
    color: gray;
}

.login-form {
    border: 1px solid rgb(241, 241, 241);
    padding: 1rem;
    position: fixed;
    border-radius: 1rem;
    background-color: rgb(241, 241, 241);
    left: 10rem;
}

.login-option {
    display: flex;
    margin-top: 1.5rem;
    justify-content: space-around;
    align-items: center;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 35rem;
    right: 0;
    width: 70%;
    /* border: 1px solid black; */
    /* height: 100%; */
    margin-top: 15rem;
}

.home-contents {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.content {
    margin-bottom: 1rem;
    border: 1px solid black;
    height: 100%;
}

footer {
    display: flex;
    /* width: 100%; */
    margin-top: 3rem;
    padding-top: 1rem;
    border-top: 1px solid black;
    background-color: gray;
}

footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer ul li {
    margin-right: 1rem;
}

footer p {
    display: flex;
    width: 50%;
    justify-content: center;
    margin-left: 40rem;
    opacity: 0.5;
}

.test {
    display: flex;
    margin-left: -4rem;
}
